.cover__links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.cover__links::before{
  content: "";
  position: absolute;
  display: block;
  background-color: #2a2c2f;
  opacity: 0.2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover__links:hover:before{
  opacity: 0.8;
}