.cover__links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.cover__links:hover:before{
  content: "";
  mix-blend-mode: overlay;
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

