.place__paragraph{
  grid-area: paragraph;
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, sans-serif;
}

.place__paragraph:nth-child(2) {
  margin-top: 26px;
}

@media screen and (max-width: 768px){
  .place__paragraph{
    white-space: normal;
    font-size: 16px;
    line-height: 26px;
  }
}
  