.footer__copyright{
  color: #FFFFFF;
  margin: 0;
  font-family: 'Inter Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-align: right;
}

@media screen and (max-width: 320px){
  .footer__copyright{
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  }
}
