.place__url-heading{
  margin: 0;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  font-family: 'Inter';
  font-weight: 400;
  padding-bottom: 12px;
}