.place__website{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

@media screen and (max-width: 320px){
  .place__website{
    grid-row-start: 2;
    margin-left: 16px;
  }
}